extends layout
block content
    h1= title
    - let goldid = toShow._id
    - let Gold_weight = toShow.Gold_weight
    - let Gold_shop = toShow.Gold_shop
    - let Gold_cost = toShow.Gold_cost
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{goldid}
    - let actionid = "/resource/golds/" + goldid
    form(id='goldForm', action= actionid, method="PUT")
        div.form-group
            label.goldAttr(for='Gold_weight') gold  name
            input#Gold_weight(type='text', name='Gold_weight', value= Gold_weight )
        div.form-group
            label.goldAttr(for='Gold_shop') gold  shop
            input#Gold_shop(type='text', name='Gold_shop', value= Gold_shop )
        div.form-group
            label.goldAttr(for='Gold_cost') gold  price
            input#Gold_cost(type='number', name='Gold_cost', value= Gold_cost )
        input(type="submit")
    script.
        document.forms['goldForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Update failed " + error )
            });
        });