extends layout
block content
    h1= title
    - let Gold_weight = toShow.Gold_weight
    - let Gold_shop = toShow.Gold_shop
    - let Gold_cost = toShow.Gold_cost
        div
            div.row(id="goldAttr")
                div(class="goldAttr mr-3") gold weight is:
                div #{Gold_weight}
            div.row
                div(class="goldAttr mr-3") gold shop is:
                div #{Gold_shop}
            div.row
                div(class="goldAttr mr-3") gold price is:
                div #{Gold_cost}